/* general styles */

/* Navbar Styles */
.active {
    font-weight: bold underline;
    text-decoration: underline;
    color: black;
}

/* Signs and Support Styles */
.card {
    border: none !important;
}
